/*****************

COMMON

*****************/
body {
  font-family: "monospace", sans-serif;
}
.font-primary {
  color: rgba(7, 202, 216, 0.8);
}
.title-icon {
  font-size: 20px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}
a.font-black {
  color: #000 !important;
}
/**************

ABOUT

**************/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}
#about img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}
#about .name {
  font-size: 19px;
}
#about .vocation {
  color: rgba(87, 95, 95, 0.8);
  font-size: 17px;
  margin-bottom: 10px;
}
#about .skills {
  font-size: 15px;
  color: rgba(9, 109, 194, 0.8);
}
#about .email {
  margin-top: 14px;
  font-size: 14px;
}
#about .icons {
  margin-top: 20px;
  font-size: 30px;
}
#about .icons a {
  color: rgba(87, 95, 95, 0.8);
}

/*******************

PROJECTS

******************/

#project {
  margin: 60px auto;
  width: 80%;
}
#project h2 {
  text-align: center;
}
#project .card img {
  width: 100%;
  height: auto;
}
#project .card-title {
  font-weight: bold;
}
